# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ask Stack'
      'submenu': [
        { 'label': 'Ask Question', 'command': 'ask-stack:ask-question' }
      ]
    ]
  }
]
